<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
    </head>
    <body data-ng-app="app">
        <script type="text/javascript" src="dist/bundle.js" charset="utf-8"></script>
        <div class="container"
             data-ng-controller="MainCtrl as main"
             data-ng-switch="!main.user">
            <div class="page-header">
                <h1>KozPost <small>A convenient web interface for your telegram bot</small></h1>
            </div>
            <div class="row" data-ng-switch-when="true">
                <div class="col-md-6">
                    <form data-ng-submit="main.login()">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Bot API Token"
                                       data-ng-model="main.token">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit"
                                            data-ng-disabled="main.token === '' || main.loading"
                                            data-ng-class="{ 'btn-spinner': main.loading }">Login</button>
                                </span>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert"
                             data-ng-if="main.error">
                            <button type="button" class="close" aria-label="Close"
                                    data-ng-click="main.error = false"><span aria-hidden="true">&times;</span></button>
                            <strong>Invalid token!</strong> Make sure to copy the string of 40+ characters.
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Set up your own telegram bot</div>
                        <div class="panel-body">
                            <ol>
                                <li>contact <a href="https://telegram.me/botfather" target="_blank">@BotFather</a></li>
                                <li>create a new bot with the <strong>/newbot</strong> command</li>
                                <li>The BotFather will give you a <strong>token</strong>, use it to log in</li>
                                <li>Add your bot to the channels you want to post to as an administrator</li>
                                <li>enjoy posting like a <strong>BOSS</strong></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-switch-when="false">
                <div class="col-md-6">
                    <h4 class="k-user"><button type="button" class="btn btn-warning btn-xs" data-ng-click="main.logout()">Logout</button> {{main.user.first_name}} <small>{{'@' + main.user.username}}</small></h4>
                    <form data-ng-submit="main.send()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="@channel" required
                                   data-ng-disabled="main.loading"
                                   data-ng-model="main.message.chat_id" />
                        </div>
                        <div class="form-group">
                            <textarea rows="5" class="k-message form-control" placeholder="Message" required
                                      data-hot-replace
                                      data-ng-disabled="main.loading"
                                      ng-change="main.backup()"
                                      data-ng-model="main.message.text"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-ng-model="main.message.disable_notification"> <abbr title="Subscribers won't receive notification">Silent</abbr>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" data-ng-model="main.message.disable_web_page_preview"> Hide page preview
                            </label>
                        </div>
                        <hr class="k-dilimiter" />
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-ng-model="main.typographyfy"> <abbr title="Restyle dashes & quotation marks">Typographyfy</abbr>
                            </label>
                        </div>
                        <div class="panel panel-info clearfix">
                            <div class="col-sm-12">
                                <h4>Keyboard shortcuts</h4>
                            </div>
                            <div class="col-sm-6">
                                <p><kbd><kbd>ctrl</kbd> + <kbd>B</kbd></kbd> &ndash; set <strong>bold</strong></p>
                                <p><kbd><kbd>ctrl</kbd> + <kbd>I</kbd></kbd> &ndash; set <em>italic</em></p>
                            </div>
                            <div class="col-sm-6">
                                <p><kbd><kbd>ctrl</kbd> + <kbd>K</kbd></kbd> &ndash; add link</p>
                            </div>
                        </div>
                        <hr />
                            <p><small>Check out project's <a href="https://github.com/5angel/kozpost">Github page</a> or contact author directly via telegram: <a href="https://telegram.me/kozulya">@kozulya</a></small></p>
                        <hr />
                        <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit"
                                    data-ng-disabled="main.loading"
                                    data-ng-class="{ 'btn-spinner': main.loading }">Send</button>
                        </div>
                        <div class="alert" role="alert"
                             data-ng-if="main.result"
                             data-ng-class="{ 'alert-danger': !main.result.success, 'alert-success': main.result.success }">
                           <strong>{{main.result.title}}</strong> {{main.result.text}}
                           <button type="button" class="close" aria-label="Close"
                                   data-ng-click="main.result = null"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4>Preview</h4>
                    <div class="panel panel-default"
                         data-ng-show="main.message.text !== ''">
                        <div class="panel-body k-preview">
                            <div class="k-preview__inner" data-ng-bind-html="main.message.text | markdown:main.getMdConfig()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
