@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-spinner {
    position: relative;
    color: transparent !important;

    &:before, &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border: 2px solid rgba(0,0,0,.2);
        border-radius: 50%;
    }

    &:after {
        border-color: transparent;
        border-top-color: white;
        box-shadow: 0 0 0 1px transparent;
        animation: spin .6s linear;
        animation-iteration-count: infinite;
    }
}

hr.k-dilimiter {
    margin-top: 5px;
    margin-bottom: 5px;
}

.k-user {
    line-height: 22px;
}

.k-message {
    resize: vertical;
    overflow: auto;
}

.k-preview {
    padding: 0;
    background-color: lighten(black, 90);
    font: 13px 'Open Sans', 'Arial';
}

.k-preview__inner {
    width: 430px;
    margin: 20px auto;
    padding: 13px;
    border-radius: 4px;
    background-color: white;
    word-break: break-word;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
